# Minecraft mod specific
.gradle/
build/
out/
classes/
*.log
*.hprof
*.jfr
hs_err_*.log
replay_*.log

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
bin/
.classpath
.project

# MacOS
*.DS_Store

# Gradle Wrapper
gradle/
# gradle.properties INCLUDE IN COMMITS, CONTAINS VERSION DATA
gradle-wrapper.jar
gradle-wrapper.properties

# GitHub Actions und Attribute
.github/
.gitattributes/

# Fabric
run/

# Eclipse
*.launch

# Exportierte JARs
build/libs/

# Sonstiges
out.txt
err.txt
build_log.txt
build_output.txt